column(ratio = 1, offset = 0, gutter = $grid-gutter-width)
    width: (100 * ratio)%
    margin-left: (100 * offset)%
    padding-left: (gutter / 2)
    padding-right: @padding-left
    position: relative
    float: left
    min-height: 1px

row(gutter= $grid-gutter-width)
    margin-left: gutter / -2
    margin-right: gutter / -2
    clearfix()