column(ratio = 1, gutter = $grid-gutter-width)
    _colBase(gutter)
    width: _colWidth(ratio)

_colBase(gutter)
    position: relative
    float: left
    min-height: 1px
    padding-left: (gutter / 2)
    padding-right: @padding-left

_colWidth(ratio)
    return (100 * ratio)%