@import "../../drip"

init(default)

.first-section {
    column(1/4)
    // pull-right()
    // hide()
    animate(bounce, true, true)
}
.second-section {
    column(2/4, .25, 20px)
    animate(bounceInDown)
}