@import "../../drip"

init(default)

.row {
    row()
}

.first-section {
    column(1/4)
    // pull-right()
    // hide()
    animate(bounce, true, true)
}
.second-section {
    column(2/4, .25, 20px)
    animate(bounceInDown)
}
.alert-section {
    alert(danger)
    margin: 10px
}